interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCfuDLAv0mPgHu-2z3QFqU-RECfIFaej0rpykKpljBT-4DtdQBkOWgltj_R39F7LWBSBxuJ_3lNYr2V6g5IaqpP7os_aCi_eIW5--ZAFDMmVZiwByE
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/3sthpHNkKM8roO6FUDC4lK?additional_types=track
  response:
    body:
      string: '{"collaborative":false,"description":"","external_urls":{"spotify":"https://open.spotify.com/playlist/3sthpHNkKM8roO6FUDC4lK"},"followers":{"href":null,"total":0},"href":"https://api.spotify.com/v1/playlists/3sthpHNkKM8roO6FUDC4lK?additional_types=track","id":"3sthpHNkKM8roO6FUDC4lK","images":[{"height":null,"url":"https://i.scdn.co/image/ab67616d00001e023dbfd3a1c6089e159424de0f","width":null}],"name":"10
        Hour Box Fan (No Distractions)","owner":{"display_name":"SDragon827","external_urls":{"spotify":"https://open.spotify.com/user/xd9vfl7yp0h96uecfjc6vyoja"},"href":"https://api.spotify.com/v1/users/xd9vfl7yp0h96uecfjc6vyoja","id":"xd9vfl7yp0h96uecfjc6vyoja","type":"user","uri":"spotify:user:xd9vfl7yp0h96uecfjc6vyoja"},"primary_color":null,"public":true,"snapshot_id":"AAAABLIWkqt7iMWeVaZoZ77eisqfTv3B","tracks":{"href":"https://api.spotify.com/v1/playlists/3sthpHNkKM8roO6FUDC4lK/tracks?offset=0&limit=100&additional_types=track","items":[{"added_at":"2024-05-01T21:32:05Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/xd9vfl7yp0h96uecfjc6vyoja"},"href":"https://api.spotify.com/v1/users/xd9vfl7yp0h96uecfjc6vyoja","id":"xd9vfl7yp0h96uecfjc6vyoja","type":"user","uri":"spotify:user:xd9vfl7yp0h96uecfjc6vyoja"},"is_local":false,"primary_color":null,"track":{"preview_url":"https://p.scdn.co/mp3-preview/9e206c7ce587e268792e9842ddaf813430198cd8?cid=5f573c9620494bae87890c0f08a60293","available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"explicit":false,"type":"track","episode":false,"track":true,"album":{"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"type":"album","album_type":"single","href":"https://api.spotify.com/v1/albums/0oBy1HUMESM4CB2IMty3uF","id":"0oBy1HUMESM4CB2IMty3uF","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2733dbfd3a1c6089e159424de0f","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e023dbfd3a1c6089e159424de0f","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048513dbfd3a1c6089e159424de0f","width":64,"height":64}],"name":"10
        Hour Box Fan (No Distractions)","release_date":"2022-12-09","release_date_precision":"day","uri":"spotify:album:0oBy1HUMESM4CB2IMty3uF","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4hlbhfLTIkXoXmT19oyhz5"},"href":"https://api.spotify.com/v1/artists/4hlbhfLTIkXoXmT19oyhz5","id":"4hlbhfLTIkXoXmT19oyhz5","name":"Big
        Fan","type":"artist","uri":"spotify:artist:4hlbhfLTIkXoXmT19oyhz5"}],"external_urls":{"spotify":"https://open.spotify.com/album/0oBy1HUMESM4CB2IMty3uF"},"total_tracks":1},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4hlbhfLTIkXoXmT19oyhz5"},"href":"https://api.spotify.com/v1/artists/4hlbhfLTIkXoXmT19oyhz5","id":"4hlbhfLTIkXoXmT19oyhz5","name":"Big
        Fan","type":"artist","uri":"spotify:artist:4hlbhfLTIkXoXmT19oyhz5"}],"disc_number":1,"track_number":1,"duration_ms":35999944,"external_ids":{"isrc":"GX8LD2263319"},"external_urls":{"spotify":"https://open.spotify.com/track/07MU7EQIGGLtYdb23gC5va"},"href":"https://api.spotify.com/v1/tracks/07MU7EQIGGLtYdb23gC5va","id":"07MU7EQIGGLtYdb23gC5va","name":"10
        Hour Box Fan (No Distractions)","popularity":45,"uri":"spotify:track:07MU7EQIGGLtYdb23gC5va","is_local":false},"video_thumbnail":{"url":null}},{"added_at":"2024-05-01T21:32:18Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/xd9vfl7yp0h96uecfjc6vyoja"},"href":"https://api.spotify.com/v1/users/xd9vfl7yp0h96uecfjc6vyoja","id":"xd9vfl7yp0h96uecfjc6vyoja","type":"user","uri":"spotify:user:xd9vfl7yp0h96uecfjc6vyoja"},"is_local":false,"primary_color":null,"track":{"preview_url":"https://p.scdn.co/mp3-preview/0ea9cb7bc3a358811e69994780900f6c83e3230c?cid=5f573c9620494bae87890c0f08a60293","available_markets"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCfuDLAv0mPgHu-2z3QFqU-RECfIFaej0rpykKpljBT-4DtdQBkOWgltj_R39F7LWBSBxuJ_3lNYr2V6g5IaqpP7os_aCi_eIW5--ZAFDMmVZiwByE
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/3sthpHNkKM8roO6FUDC4lK/tracks?limit=100&offset=0&additional_types=track%2Cepisode
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/playlists/3sthpHNkKM8roO6FUDC4lK/tracks?offset=[...]
